
:root {
    --text-color: #1E293B;
    --button-color: #1A56DB;
    --pale-blue-background-color: #F8FAFF;
    --accent-color: #0EA5E9;
    --border-divider-color: #E2E8F0;
}


body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color:#f4f4f9;
}


.cart{
    position:relative;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 20px;
    padding: 0 15px;
    max-width: 1200px;
    flex: 1;
}

.products-section{
    width: 100%;
}


.cart-item{
    display:grid;
    grid-template-columns: 40px 80px 1.2fr 1fr;
    column-gap: 10px;
    row-gap: 4px;
    background-color: var(--pale-blue-background-color);
    border: 1px solid var(--border-divider-color);
    border-radius: 12px;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    align-items: start;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.02);
}


.cart-item__checkbox {
    grid-column: 1;
    grid-row:1 / 3;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%; 
    cursor: pointer;
    position: relative;
    outline: none;
}


.cart-item__checkbox:checked {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.cart-item__checkbox:checked::after {
    content: "✓";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.cart-item__img{
    grid-column: 2;
    grid-row: 1/3;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-item__name {
    grid-column: 3;
    grid-row:1;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.4;
    padding-right: 10px;
}

.cart-item__price {
    grid-column: 3;
    grid-row: 2;
    gap: 8px;
    color: #d70018;
    font-weight: 700;
}

.cart-item__delete-btn, #delete-all-btn{
    background: none;
    border: none;
    color: var(--button-color);
    cursor: pointer;
    padding: 2px;
}

.cart-item__delete-btn{
    grid-column:4;
    grid-row:2;
    align-items: center;
}
.cart-item__quantity {
    grid-column: 4;
    grid-row:1;
    display: flex;
    align-items: center;
    justify-self: center;
    width: fit-content;
    border-radius: 4px;
    padding: 0;
}
.cart-item__qty-btn{
    background: transparent;
    border: none;
    width: 28px;
    height: 28px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}
.cart-item__qty-input {
    width: 40px;
    font-size: 14px;
    pointer-events: none;
}

.cart-summary{
    position: sticky;
    width: 100%;
    align-self: center;
    align-items: center;   
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0; 
    height: 60px;
    z-index: 999;
    background-color: var(--pale-blue-background-color);
    border: 1px solid var(--border-divider-color);
}

.cart-summary__left{
    float:left;
    padding: 12px;
}

.cart-summary__right{
    float: right;
    padding : 12px;
    width: 200px;
}

#cart-actions label {
    display: flex;
    align-items: center;
    gap: 8px; 
    cursor: pointer; 
}

#cart-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#cart-summary__checkout-btn{
    float: right;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 120px;
}
#cart-summary__checkout-btn:disabled{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
#cart-summary__total{
    color: #d70018;
    font-weight: 700;
}
/* tablet -> desktop view */
@media (min-width: 769px){
    .cart-item{
        grid-template-columns: repeat(6, 1fr);
    }

    .cart-item__checkbox{ grid-column:1; }
    .cart-item__img{ grid-column:2;}
    .cart-item__name{ grid-column:3;}
    .cart-item__price{ grid-column:4; grid-row:1;}
    .cart-item__quantity{ grid-column:5; }
    .cart-item__delete-btn { grid-column:6; grid-row:1;}
}
