<header>
  <div class="nav-wrap">

    <a href="#" class="logo">
      <i class="fa-solid fa-mobile-button"></i>DePhone
    </a>

    <nav class="navbar">
      <ul>
        <li><a href="../Home/Home.html">Trang chủ</a></li>
        <li><a href="../About/About.html">About Us</a></li>
        <li><a href="../Product/Product.html">Sản phẩm</a></li>
        <li id="login-item"><a href="../Auth/LI.html">Đăng nhập</a></li>
        <li id="user-item" style="display:none;"><a href="#" id="user-name"></a>
        <li id="logout-item" style="display:none;"><a href="#" id="logout-btn">Đăng xuất</a></li>
        </li>
      </ul>
    </nav>

    <a href="../Cart/cart.html" class="nav-cta cart-link">
        Giỏ hàng
        <span id="cart-count" class="cart-count">0</span>
    </a>

    <button class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>
</header>
