
<header class="header">
  <div class="nav-wrap">
    <a href="#" class="logo"><i class="fa-solid fa-mobile-button"></i>DePhone</a>
    <nav class="navbar">
      <ul>
        <li><a href="../Home/Home.html">Trang chủ</a></li>
        <li><a href="../About/About.html">About</a></li>
        <li><a href="../Product/Product.html">Phones</a></li>
        <li><a href="../Auth/LI.html">Đăng nhập</a></li>
        <li><a href="../Cart/cart.html" class="nav-cta">Giỏ hàng</a></li>
      </ul>
    </nav>
    <button class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>